* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 0px 0px 20px #aaaaaa;
}

main {
    padding: 1em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    font-size: 5rem;
}

div.crypto {
    font-size: 1.3rem;
}

div#crypto-title {
    display: flex;
    align-items: center;
}

div#crypto-title > span {
    margin-left: .5em;
}

div#crypto-prices > p {
    margin: 0;
}

div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
}

div#weather > img {
    width: 70px;
}

.weather-temp {
    margin: 0;
    font-size: 1.7rem;
    margin-left: -5px;
}

.weather-city {
    font-size: 1.2rem;
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -0.5em;
}

p#author {
    font-size: 1.2rem;
}